<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="static/home.css">
        <title>Home</title>
    </head>

    <body>
        <h1 class="title">CarbonBite</h1>
        <h2 class="slogan">Measure your meals, reduce your impact</h2>

        <br><br>

        <div class="buttons">
            <a href=" {{ url_for('calculate') }} "><button class="startButton">Start</button></a>
            <br><br>
            <a href=" {{ url_for('information') }} "><button class="startButton" href=>Information</button></a>
        </div>
        
    </body>
    

</html>