<!DOCTYPE html>

<html>
<link rel="stylesheet" href="static/home.css">
<title>Info</title>
<header>
    <h1>About Carbon Footprint</h1>
</header>
<p>
<table border="1">
    <tr>
        <th>Food each KG</th>
        <th>KG of CO2 Emissions</th>
    </tr>
    <tr>
        <td>Beef</td>
        <td>60 KG Carbon Dioxide Emissions</td>
    </tr>
    <tr>
        <td>Cheese</td>
        <td>21 KG Carbon Dioxide Emissions</td>
    </tr>
    <tr>
        <td>Poultry</td>
        <td>6 KG Carbon Dioxide Emissions</td>
    </tr>
    <tr>
        <td>Fish</td>
        <td>5 KG Carbon Dioxide Emissions</td>
    </tr>
    <tr>
        <td>Lamb</td>
        <td>24 KG Carbon Dioxide Emissions</td>
    </tr>
    <tr>
        <td>Chocolate</td>
        <td>19 KG Carbon Dioxide Emissions</td>
    </tr>
    <tr>
        <td>Coffee</td>
        <td>17 KG Carbon Dioxide Emissions</td>
    </tr>
    <tr>
        <td>Prawns</td>
        <td>12 KG Carbon Dioxide Emissions</td>
    </tr>
    <tr>
        <td>Pork</td>
        <td>7 KG Carbon Dioxide Emissions</td>
    </tr>
    <tr>
        <td>Eggs</td>
        <td>4.5 KG Carbon Dioxide Emissions</td>
    </tr>
</table>
</p>
<p>
    The table above shows how much each kilogram of each food produces carbon emissions. These are the top 10 foods that cause carbon emissions when produced
</p>

<a href=" {{ url_for('home') }} "><button class="startButton" href=>Home</button></a>




</html>